@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Bai Jamjuree', sans-serif;
    background: url("./images/bg-header-desktop.png") no-repeat;
    /*width: 1440px;*/
    font-size: 18px;
}

.logo{
    display: flex;
    margin-top: 7%;
}
.logo_1{
    margin: auto;
}
.info{
    margin-top: 3%;

}
.header{
    text-align: center;
    font-weight: bold;
    font-size: 2.2em;
    color: hsl(210, 10%, 33%);
    margin-bottom: 1%;
}
.text{
    text-align: center;
    color: hsl(201, 11%, 66%);
    max-width: 630px;
    margin: auto;
}
.download{
    margin-top: 4%;
    display: flex;
    justify-content: center;
}
.download a{
    padding: 15px 35px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 0.9em;
      }
.button_1{
    margin-right: 1%;
}
.button_2{
    margin-left: 1%;
}
.iOS{
    background-color: hsl(171, 77%, 54%);
    border: 1px solid hsl(171, 77%, 54%);
   }
.Mac{
    background-color: hsl(233, 100%, 69%);
    border: 1px solid hsl(233, 100%, 69%);
}
.info_2{
    margin-top: 10%;
}
.description{
    display: flex;
    margin-top: 7%;
}
.description img{
    /*margin-left: -50px;*/
    max-height: 100%;
    max-width: 100%;
}
.info_3{
    margin-left: 7%;
}
.info_3 .header{
    text-align: left;
    font-size: 1.5em;
    margin-top: 15%;
}
.info_3 .text{
    text-align: left;
    font-size: 0.9em;
    width: 350px;
    margin-top: 2%;
    line-height: 30px;
}
.info_4{
    margin-top: 15%;
}
.devices{
    margin-top: 8%;

}
.devices img{
    display: block;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
}
.info_5{
    margin-top: 4%;
}
.functions{
    display: flex;
    margin-top: 5%;
    justify-content: space-around;
}
.functions .header{
    font-size: 1.2em;
    margin-top: 10%;
}
.text1{
    font-size: 0.9em;
    text-align: center;
    color: hsl(201, 11%, 66%);
    max-width: 350px;
    margin-top: 4%;
    line-height: 30px;
}
.functions img{
    display: block;
    margin: auto;
}

.sponsors img{
    display: block;
    max-width: 20%;
}
.sponsors{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    margin-top: 10%;
}
.text2{
    text-align: center;
    color: hsl(201, 11%, 66%);
    max-width: 680px;
    margin: auto;
}
.info_6{
    margin-top: 12%;
}

footer{
    background-color: hsl(220, 1%, 96%);
    margin-top: 15%;
    display: flex;
    height: 150px;
    width: 100%;
    }
.logo_2{
    margin: 60px 100px;

}
.add_info{
    margin: auto;
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.add_info .add{

}
.add_info a{
    display: block;
    text-decoration: none;
    color: hsl(210, 10%, 33%);
    margin-top: 20px;
}
.add_info a:hover{
    color: hsl(171, 77%, 54%);
}
.social{
    margin: auto;
}

.social_1{
    display: flex;
   }
.social_1 a{
    margin-right: 25px;
}
.social_1 a:hover{
    filter: invert(73%) sepia(82%) saturate(406%) hue-rotate(111deg) brightness(93%) contrast(91%);
}
@media (max-width: 375px) {
body{
    background: url("./images/bg-header-mobile.png") no-repeat;
    /*width: 375px;*/
}
    .text{
        width: 340px;

    }
    .download{
        flex-direction: column;

        align-items: center;
    }
    .download a{
        padding: 15px 50px;
    }
    .button_2{
        margin-top: 6%;
    }
    .info_2{
        margin-top: 25%;
    }
    .info_2 .header{
        font-size: 2em;
    }
    .info_2 .text{
        margin-top: 5%;
    }
    .description{
        flex-direction: column;
    }
    .description img{
        width: 300px;
        margin-left: 25px;
        margin-top: 8%;
    }
    .info_3 .header{
        text-align: center;
    }
    .info_3 .text{
        text-align: center;
    }
    .info_4 .text{
        margin-top: 8%;
    }
    .devices img{
        width: 350px;
    }
    .info_5{
        margin-top: 8%;
    }
    .functions{
        flex-direction: column;
        margin-top: 18%;
    }

    .function_2{
        margin-top: 10%;
    }
    .function_3{
        margin-top: 10%;
    }
    .sponsors{
        flex-direction: column;
        align-items: center;
        height: 600px;
        margin-top: 15%;
    }
    .info_6{
        margin-top: 35%;
    }
    .info_6 .header{
        font-size: 1.7em;
    }
    .text2{
        width: 340px;
        margin-top: 3%;
        line-height: 25px;
    }
    footer{
        flex-direction: column;
        max-height: 500px;
        margin-top: 40%;
    }
    .logo_2{
        margin: 8% auto;
    }
    .add_info{
        flex-direction: column;
        align-items: center;
        max-width: 370px;
        margin-top: -30px;
    }
    .add{
        text-align: center;
    }
   .social_1{
       margin-left: 0;
       margin-top: 18%;
   }
}
